
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Aytekin">

    <title>Kod ve Teknoloji</title>

    <!-- Bootstrap core CSS -->
    <link href="~/Content/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <!-- Custom styles for this template -->
    <link href="~/Content/css/blog-post.css" rel="stylesheet">
    <link href="~/Content/css/animate.min.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg head navbar-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" href="@Url.Action("Index","Home")">
                <i class="fas fa-code"></i>
                Kod Ve Teknoloji
            </a> &nbsp;
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class=" collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-tags"></i>&nbsp;Kategoriler
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">ge</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </li>
                    <li class="nav-item bg">
                        <a class="nav-link" href="@Url.Action("Hakkimizda","Home")"><i class="fas fa-info-circle"></i>&nbsp;Hakkımda</a>
                    </li>
                    <li class="nav-item bg">
                        <a class="nav-link" href="@Url.Action("KayitOl","Home")"><small>Kayıt Ol</small></a>
                    </li>
                    <li class="nav-item bg">
                       <button onclick="window.location.href='@Url.Action("GirisYap","Home")'" class="btn btn-outline-success btn-sm" type="button" >Giriş Yap</button>
                    </li>
                </ul>
            </div>
        </div>
    </nav>



    @* buraya sayfalar donecek *@
    <div class="container">
        @RenderBody()

    </div>



    <footer class="py-3 foot">

        <div class="row">
            <div class="col-md-3">
                <p class="m-0 text-center text-white">Copyright &copy; aytekinerlale.com 2018</p>

            </div>
            <div class="col-md-4 offset-5 text-center">
                <a href="mailto:aytekinerlale@gmail.com">
                    <p class="text-center text-white">Designed by Aytekin Erlale</p>
                </a>
            </div>
        </div>


        <!-- /.container -->
    </footer>


    <!-- Bootstrap core JavaScript -->
    <script href="~/Content/vendor/jquery/jquery.min.js"></script>
    <script href="~/Content/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
<script>
    function testAnim(x) {
        $('#animationSandbox').removeClass().addClass(x + ' animated').one('webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend', function () {
            $(this).removeClass();
        });
    };
    $(document).ready(function () {
        $('.js--triggerAnimation').click(function (e) {
            e.preventDefault();
            var anim = $('.js--animations').val();
            testAnim(anim);
        });
        $('.js--animations').change(function () {
            var anim = $(this).val();
            testAnim(anim);
        });
    });
</script>