@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Aytekin">

    <title>@RenderSection("title", false)</title>
    <link rel="shortcut icon" type="image/x-icon" href="~/Content/media/bg-image/icon.png" />
    <!-- Bootstrap core CSS -->
    <link href="~/Content/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <!-- Custom styles for this template -->
    <link href="~/Content/css/blog-post.css" rel="stylesheet">
    <link href="~/Content/css/animate.min.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="~/Content/js/numscroller-1.0.js"></script>
    @RenderSection("Head", false)
    <style>
        nav .navbar-collapse {
            float: right !important;
        }

        @@media (max-width: 654px) {

            nav .navbar-collapse ul:first-child {
                margin-top: 30%;
            }

            nav .navbar-collapse ul:last-child {
                margin-bottom: 100%;
            }

            nav .navbar-collapse ul {
                float: left;
                display: inline-block;
            }

                nav .navbar-collapse ul #posts {
                    margin-left: 15px !important;
                }

                nav .navbar-collapse ul #about {
                    margin-top: 10px !important;
                    margin-left: 15px !important;
                }

                nav .navbar-collapse ul #register {
                    margin-top: 10px;
                }

                nav .navbar-collapse ul #login {
                    margin-top: 10px !important;
                    margin-left: 15px !important;
                }

                nav .navbar-collapse ul #profile {
                    margin-top: 10px !important;
                    margin-right: 2px !important;
                }
        }
    </style>
</head>

<body @RenderSection("bg", false)>

    <!-- Navigation -->
    <!-- Navigation -->
    <nav class="navbar bg-light navbar-expand-lg navbar-dark fixed-top">
        <div class="container" id="nav-container">

            <a style="color: #401F7C;" class="navbar-brand" href="@Url.Action("Index","Home")">
                <i class="fas fa-code"></i>
                Return
            </a> &nbsp;

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse navbar-right" id="navbarTogglerDemo02">
                <ul class="navbar-nav navbar-right">
                    <li class="nav-item bg navbar-right">
                        <a id="posts" class="nav-link text-danger" href="@Url.Action("Gonderiler","Home")"><i class="fas fa-file-alt"></i>&nbsp;Makaleler</a>
                    </li>
                    <li class="nav-item bg" id="about">
                        <a class="nav-link text-warning" href="@Url.Action("Hakkimizda","Home")"><i class="fas fa-info-circle"></i>&nbsp;Hakkımızda</a>
                    </li>
                    @if (Session["aktif"] == null)
                    {
                        <li class="nav-item bg pl-3 mr-1" id="register">
                            <button onclick="window.location.href='@Url.Action("KayitOl","Home")'" class="btn btn-outline-primary " type="button">Kayıt Ol</button>
                        </li>
                        <li class="nav-item bg" id="login">
                            <button onclick="window.location.href='@Url.Action("GirisYap","Home")'" class="btn btn-outline-success " type="button">Giriş Yap</button>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item dropdown pl-3" id="profile">
                            <a style="color: #EE5A24;" class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-user"></i>&nbsp; @Session["aktif"]
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item text-primary" href="@Url.Action("Profil","Home")"><i class="fa fa-fw fa-user-circle"></i> Profilim</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item text-danger" data-toggle="modal" data-target="#exampleModal" href=""><i class="fa fa-fw fa-power-off"></i> Çıkış Yap</a>
                            </div>
                        </li>
                    }

                </ul>
            </div>
        </div>
    </nav>












    @* buraya sayfalar donecek *@
    <div class="container">
        @RenderBody()

    </div>

    <!-- Logout Modal-->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Çıkış Yapmak İstediğine Emin misin?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Eğer çıkış'a tıklarsan oturum kapatılacaktır</div>
                <div class="modal-footer">
                    <button class="btn btn-warning text-white" type="button" data-dismiss="modal">İptal</button>
                    <a class="btn btn-danger" href="@Url.Action("CikisYap","Home")">Çıkış</a>
                </div>
            </div>
        </div>
    </div>

    <footer class="py-3 bg-light">

        <div class="row">
            <div class="col-md-3">
                <p class="m-0 text-center">Copyright &copy; aytekinerlale.com 2018</p>

            </div>
            <div class="col-md-4 offset-5 col-sm-12 text-center">
                Designed by
                <a class="text-success" href="mailto:aytekinerlale@gmail.com">
                    Aytekin Erlale
                </a>
            </div>
        </div>


        <!-- /.container -->
    </footer>



</body>

</html>

<!-- Bootstrap core JavaScript -->
<script src="~/Content/vendor/jquery/jquery.min.js"></script>
<script src="~/Content/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="~/Content/vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="~/Content/vendor/bootstrap/js/bootstrap.bundle.js"></script>

<!-- Core plugin JavaScript-->
<script src="~/Content/vendor/jquery-easing/jquery.easing.min.js"></script>
<script src="~/Scripts/ckeditor/ckeditor.js"></script>
@RenderSection("scripts", false)

<script>
    function testAnim(x) {
        $('#animationSandbox').removeClass().addClass(x + ' animated').one('webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend', function () {
            $(this).removeClass();
        });
    };
    $(document).ready(function () {
        $('.js--triggerAnimation').click(function (e) {
            e.preventDefault();
            var anim = $('.js--animations').val();
            testAnim(anim);
        });
        $('.js--animations').change(function () {
            var anim = $(this).val();
            testAnim(anim);
        });
    });
</script>