@model KisiselBlog.Models.ViewModels.LoginViewModel
@{
    ViewBag.Title = "GirisYap";
    string nick = "";
    if (Model != null)
    {
        nick = Model.nickName;
    }

}
@section title{Giriş Yap}

@section Head{

    <style>
        body {
            background-image: url("../Content/media/bg-image/bg-image.jpg");
            background-repeat: no-repeat;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }

        hr {
            display: block;
            margin-top: 0.5em;
            margin-bottom: 0.5em;
            margin-left: auto;
            margin-right: auto;
            border-style: inset;
            border-width: 2px;
            background-color: rgba(66,139,202);
        }
    </style>
}
    <div style="margin-top:59px;">
        @if (ViewBag.HesapOnaylanmamis != null)
        {
            <div class="row">
                <div class="col-md-4 col-xs-12 mt-xs-2 offset-md-4 text-center">
                    <div class="pl-5 pr-5 alert alert-danger alert-dismissible fade show" role="alert">
                        @ViewBag.HesapOnaylanmamis
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                </div>
            </div>

        }
        @if (ViewBag.parola != null)
        {
            <div class="row">
                <div class="col-md-4 col-xs-12 mt-xs-2 offset-md-4">
                    <div class="pl-5 pr-5 alert alert-danger alert-dismissible fade show" role="alert">
                        <strong>Hata!! </strong> @ViewBag.parola
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                </div>
            </div>

        }
        <div class="bg-light card card-login col-md-4 col-xs-12 mt-xs-2 offset-md-4 mt-xl-2 text-center animated zoomIn">

            <div class="card-body">
                <div><h3 class="text-center text-primary">Giriş Yap</h3></div><hr /><br />
                @using (Html.BeginForm("GirisYap", "Home", FormMethod.Post,
                    new { enctype = "multipart/form-data" }))
                {
                    <div class="form-group">
                        <label for="exampleInputEmail1"><b>Kullanıcı Adı</b></label>
                        @Html.TextBox("nickName", nick, new { @class = "form-control", placeholder = "Kullanıcı Adı", type = "text", required = "required" })
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1"><b>Parola</b></label>
                        @Html.TextBox("pass", "", new { @class = "form-control", placeholder = "Parola", type = "password", required = "required" })

                    </div>
                    <div class="form-group">
                        <div align="center" class="custom-control custom-checkbox ">
                            <input align="right" type="checkbox" class="custom-control-input" id="confirm">
                            <label class="custom-control-label" for="confirm">Beni Hatırla</label>
                        </div>
                    </div>
                    <button class="btn btn-primary btn-block" type="submit">Giriş</button>
                }
                <div class="text-center">
                    <a class="d-block small mt-3" href="@Url.Action("KayitOl","Home")">Kaydol</a>
                    <a class="d-block small" href="@Url.Action("ParolamiUnuttum","Home")">Parolamı Unuttum</a>
                </div>
            </div>
        </div>
    </div>
<br />
<br />
<br />
<br />
<br />
