@model KisiselBlog.Models.AboutPage
@{
    ViewBag.Title = "Hakkimizda";
}

<!-- Page Content -->
<div class="container mtop-sm-75">

    <ol class="breadcrumb mt-3">
        <li class="breadcrumb-item">
            <a href="@Url.Action("Index","Home")">Ana Sayfa</a>
        </li>
        <li class="breadcrumb-item active">Hakkimizda</li>
    </ol>

    <!-- Intro Content -->
    <div class="row animated bounceInLeft">
        <div class="col-lg-6">
            <img class="img-fluid rounded mb-4" src="@Url.Content(Model.imagePath)" title="Biz Kimiz?">
        </div>
        <div class="col-lg-6">
            <h2>@Model.Header</h2>
            <p>@Html.Raw(Model.About)</p>
            <h3>
                <a class="ml-1 mr-1" href="https://www.twitter.com/a_erlale"><i class="fab fa-twitter"></i></a>
                <a class="ml-1 mr-1 text-dark" href="https://bitbucket.org/aytekinerlale/"><i class="fab fa-github"></i></a>
                <a class="ml-1 mr-1" href="https://www.github.com/AytekinErlale"><i class="fab fa-bitbucket"></i></a>
                <a class="ml-1 mr-1" href="https://www.linkedin.com/in/aytekin-erlale-b0ab91163/"><i class="fab fa-linkedin-in"></i></a>

            </h3>

            
        </div>
    </div><br />
    <!-- /.row -->
    <!-- Team Members -->
    <h2 class="text-success text-center">Yazarlar</h2>

    <div class="row">

        @if (ViewBag.userList != null)
        {
            List<KisiselBlog.Models.Users> list = new List<KisiselBlog.Models.Users>();
            list = ViewBag.userList;
            
            foreach (var item in list)
            {
                @Html.Partial("_AuthourPartialView", item);
                <br />
            }

        }

    </div>
    <!-- /.row -->
    <!-- Our Customers -->
   
    <!-- /.row -->

</div>
<!-- /.container -->
<br />
<br />
<br />
<br />