@model KisiselBlog.Models.Users
@section title{Profil}

@{
    ViewBag.Title = "Profil";

    DateTime biggest = Model.dates.Max(r => r.Date);
    KisiselBlog.Models.Dates regist = Model.dates.Where(r => r.DateName == "Registration").FirstOrDefault();

    var auth = "";
    if (Model.roles.RoleName == "User")
    {
        auth = "Sistem Kullanıcısı";
    }
    else if (Model.roles.RoleName == "Author")
    {
        auth = "Site Yazarı";
    }
    else if (Model.roles.RoleName == "Admin")
    {
        auth = "Site Kurucusu ve Yöneticisi";
    }
    string pppsrc = "";
    if (string.IsNullOrEmpty(Model.PPPath))
    {
        pppsrc = "https://www.atomix.com.au/media/2015/06/atomix_user31.png";
    }
    else
    {
        pppsrc = Model.PPPath;
    }
}
<br />
@if (ViewBag.PassSuccess != null)
{
    <div class="alert alert-success alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>Başarılı!</strong> @ViewBag.PassSuccess
    </div>
}

@if (ViewBag.Basarili != null)
{
    <div class="alert alert-success alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>Başarılı!</strong> @ViewBag.Basarili
    </div>
}

<div class="card mtop-sm-75 mt-xl-4 mt-sm-5">
    <div class="card-header">
        <nav class="nav nav-pills">
            <a class="nav-link active" href="#">Profil</a>
            <a class="nav-link" href="@Url.Action("Duzenle","Home",new { id = Model.UserID })">Düzenle</a>
            <a class="nav-link" href="@Url.Action("Parola","Home",new { id = Model.UserID })">Parola Değiştir</a>
        </nav>
    </div>
    <br />
    <div class="row">

        <div class="col-md-3" align="center">
            <div class="mx-auto ml-10 mt-2">
                <div class="cycle-img">
                    <img src="@Url.Content(pppsrc)" width="200px" height="200px" class="rounded cycle-img" alt="..."><br />

                </div>

            </div>
        </div>
        <div class="col-md-5 ofset-2">
            <center><h4 class="text-info">Kullanici Bilgileri</h4></center>
            <div class="alert alert-info" role="alert">
                <h6><strong>Adı Soyadı:</strong>&emsp;@Model.Name @Model.Surname</h6>
                <h6><strong>Kullanıcı Adı:</strong>&emsp;@Model.NickName</h6>
                <h6><strong>Email:</strong>&emsp;@Model.Email</h6>
                <h6><strong>Sisteme Kayıt Tarihi:</strong>&emsp;@regist.Date.ToString()</h6>
                <h6><strong>Kullanıcı Yetkisi:</strong>&emsp;@auth </h6>
            </div>
            @if (!Model.authorRequest && Model.roles.RoleName == "User")
            {
                <a href="@Url.Action("YazarOl","Home" ,new { id = Model.UserID })" class="btn btn-success">Yazar Olma İsteği Gönder</a>
            }

        </div>
    </div>

    <br />
    <div class="card-footer small text-white bg-dark"><b>Sisteme Son Giriş Tarihi : @biggest.ToString()</b></div>
</div>
<br />
<br />
<br />
